.slider {
  width: 1000px;
  margin: 0 auto;
  margin-bottom: 90px;
}

.slick-prev:before {
  content: '←';
  color: red;
}

.slick-next:before {
  content: '→';
  color: red;
}

/* <!-- Work area --> */

/* <!-- SerjKenri --> */

.serhii-img {
  width: 220px;
  height: 120px;
}

/* <!-- brobeliy --> */

/* <!-- YanaUSA --> */

/* <!-- OHrechanyk --> */

/* <!-- vkrupitsyn --> */

/* <!-- Olexii-US --> */

/* <!-- Taras3482 --> */

/* <!-- volopn@gmail.com --> */

/* <!-- ilona1009 --> */

/* <!-- dariahalai --> */

/* <!-- IrynaLeman --> */

/* <!-- ABarchuk1976 --> */

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1200px;
  padding: 60px 15px;
  margin-left: auto;
  margin-right: auto;
}

.responsive {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 380px;
}

.responsive-item {
  display: block;
  width: 380px;
  height: auto;
  margin-bottom: 30px;
}
/* <!-- Work area --> */
