.slider {
  width: 1000px;
  margin: 0 auto;
}

.slick-prev:before {
  content: "←";
  color: red;
}

.slick-next:before {
  content: "→";
  color: red;
}

/* <!-- Work area --> */

/* <!-- SerjKenri --> */

/* <!-- brobeliy --> */

/* <!-- YanaUSA --> */
.variable-width {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px dotted teal;
 
}
.img-width {
  display: inline-block;
  align-items: center;
  width: 500px;
  border-radius: 5px;
}

/* <!-- OHrechanyk --> */

/* <!-- vkrupitsyn --> */

/* <!-- Olexii-US --> */

/* <!-- Taras3482 --> */

/* <!-- volopn@gmail.com --> */

/* <!-- ilona1009 --> */

/* <!-- dariahalai --> */

/* <!-- IrynaLeman --> */

/* <!-- ABarchuk1976 --> */

/* <!-- Work area --> */
